<form id = "survey-form" method = "post" action = "/surveys/<%= survey_id %>">

 <ol>
    <% questions.each do |question| %>
      <li><%= question.name %></li>
      <% question.choices.each do |choice| %>
      <li><%= choice.body %></li>
    <% end %>
    <% end %>
  </ol>
<% end %>