<div class="container">
    <ul class = 'surveys'>
      <h1> List of Surveys </h1>
      <% @surveys.each do |survey| %>
      <p>hi from the each block</p>
        <li> <a href="#"><%= survey.title %></a> </li>
      <% end %>
    </ul>
</div>
