<h1>Survey creation</h1>

<% if @errors %>
  <h6>Failed to save. Errors:</h6>
  <ul>
  <% @errors.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
  </ul>
<% end %>

<form id = "new_survey_form" method = "post" action = "/surveys">
  <label for = "title" type = "text">Title</label>
  <input id = "title" type = "text" name = "survey[title]" value = "<%= @survey.title %>" placeholder = "Survey Title">
  <input id = "survey-title-submit" type = "submit" value "Save and Continue">
</form>
<p></p>
<div id = "question-containter"></div>
<p></p>
<div id = "add-question"></div>
<p></p>
<div id = "save-all">
  <%= erb :'question/_save-form', layout: false, locals: {survey_id: session[:survey_id]}%>
</div>

<!-- the submit button looks weird. its very small... -->
