<form id = "new_question_form" method = "post" action = "/surveys/<%= survey_id %>/questions">
  <label for = "content" type = "text">Question?</label>
  <input id = "content" type = "text" name = "question[name]" value = "<%= question.name %>" placeholder="what would you like to ask?">
  <input class = "question-save" type = "submit" value = "add some choices">
</form>
<p></p>
<form id = "add-question-form" method ="get" action = "/surveys/<%= survey_id %>/questions/new">
  <input type = "submit" value = "add another question">
</form>
