<h3>Make a question</h3>

<% if @errors %>
  <h6>Failed to save. Errors:</h6>
  <ul>
  <% @errors.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
  </ul>
<% end %>

<form id = "new_question_form" method = "post" action = "/surveys/<%= @survey_id %>/questions">
  <label for = "content" type = "text">Question?</label>
  <input id = "content" type = "text" name = "question[name]" value = "<%= @question.name %>" placeholder="what would you like to ask?">
  <input type = "submit" value = "add some choices">
</form>

<form id = "survey_complete_button" method = "get" action = "/surveys/<%= @survey_id %>">
  <input type = "submit" value = "Finished">
</form>
