<h3>Make a question</h3>

<% if @errors %>
  <h6>Failed to save. Errors:</h6>
  <ul>
  <% @errors.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
  </ul>
<% end %>

<%= erb :'question/_new-form', layout: false, locals: {question: @question, survey_id: @survey_id}%>


