<h3>Make an option for selection</h3>

<% if @errors %>
  <h6>Failed to save. Errors:</h6>
  <ul>
  <% @errors.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
  </ul>
<% end %>

<%= erb :'choice/_new-form', layout: false, locals: {question: @question, choice: @choice} %>

<form id = "question_complete_button" method = "get" action = "/surveys/<%= @question.survey_id %>/questions/new">
  <input type = "submit" value = "finish this question">
</form>
