<h2>Hi <%= @user.user_name %></h2>

<h4>Here are all the surveys that you have made</h4>

<ol>
  <% @user.surveys.each do |survey| %>
    <li><a href="#">survey.title</a> DONT KNOW THE SURVEY ROUTE</li>
    <li> <a href="<%= "/surveys/delete/#{survey.id}" %> ">Delete</a></li>
  <% end %>
</ol>
