<h2>Hi <%= @user.user_name %></h2>

<h4>Here are all the surveys that you have made</h4>

<ul>
  <% @user.surveys.each do |survey| %>
    <li><a href="<%= "/surveys/#{survey.id}" %> "><%= survey.title %></a></li>
     <a href="<%= "/surveys/delete/#{survey.id}" %> ">Delete</a>
  <% end %>
</ul>
