<h1>SIGN UP!!!</h1>

<% if @errors %>
<h4>Failed to create account. errors:</h4>
  <ul>
  <% @errors.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<form name = "signup" method="POST" action="/signup">
  <label for = "email">Email</label>
  <input id = "email" type = "text" name = "user[email]" placeholder = "jsmith123@example.com">
  <label for = "user_name">User_name</label>
  <input id = "user_name" type = "text" name = "user[user_name]" placeholder = "coolkid6">
  <label for = "password">Password</label>
  <input id = "password" type = "password" name = "user[password_digest]" placeholder = "password">

  <input type = "submit" value = "create account">
</form>
